<!DOCTYPE html>
<html>
<head>
<title>NEOM</title>
    
    <style>
        aside{
            width:25%;
            padding-left: 20px;
            margin-left: 20px;
            float:right;
            font-style:oblique;
            background-color:darkseagreen;
             }
        footer{
            text-align: center;
            padding: 5px;
            background-color:teal;
            color: blue
              }
    </style>
    <meta charset="UTF-8">
</head>
<body>
    <h1>NEOM</h1>
    <img src= "%D8%AA%D9%86%D8%B2%D9%8A%D9%84.jfif"height="300px"
         width=25% border="1px" align= "right">
    <img src= "%D8%AA%D9%86%D8%B2%D9%8A%D9%84%20(1).jfif"height="300px"
         width=25% border="1px" align= "right">
    <aside>
    <h2> Wikipedia site</h2>
    <ul>
        <li>  <a href= "https://ar.wikipedia.org/wiki/%D9%86%D9%8A%D9%88%D9%85" target="_blank">Newbihack</a>  </li>
        
    </ul>
            </aside>
         
    <nav class="menu">
        <ol>
        <li>  <a href= "#Introduction">Introduction</a> </li>
        <li>  <a href= "#city">city</a> </li>
        <li>  <a href= "#naming">naming</a></li>
        <li>  <a href= "#Neom Bay">Neom Bay</a></li>    
          
            
    </ol>
    </nav>
    <article>
        <section>
            <h2><a id= "Introduction">Introduction</a></h2>
    <p>
       
NEOM is a Saudi project for a cross-border city planned for its construction, launched by Prince Muhammad bin Salman Al Saud, Crown Prince of Saudi Arabia, on Tuesday 4 Safar 1439 AH corresponding to October 24, 2017, the project is located in the far northwest of Saudi Arabia, and extends 460 km on the coast of the Red Sea. Within the framework of the ambitious aspirations of Vision 2030, the project aims to transform the Kingdom into a leading global model in various aspects of life, by focusing on bringing value chains in industries and technology within the project. The first phase of NEOM will be completed by 2025. The project was supported by the Saudi Public Investment Fund worth $ 500 billion, and local and international investors. The Neom Company, which was established in January 2019, undertakes the development and supervision of the NEOM region. It is a closed joint stock company with fully paid up capital and is owned by the Public Investment Fund. The company will establish new cities and complete infrastructure for the region, including a port, an airport network, industrial zones, innovation centers to support the arts, innovation centers that support the business sector, in addition to developing the targeted economic sectors. In October 2018, the CEO of the project, Engineer Nazmi Al-Nasr, announced the operation of the first airport in Neom before the end of 2018, and then weekly flights to it at the beginning of 2019, provided that the airport is one of the network of several airports that will be included in the project. The airport, which bears the ICAO airport code and is located in "Sharma", received the first flight of Saudi Airlines on January 10, 2019, via two Airbus commercial aircraft (A320) carrying 130 employees in the project.

    </p>
   
            </section>
        <section>
    <h3><a id="city">city</a></h3>
     <p>
   The project is located in the far northwest of Saudi Arabia (Tabuk region), bordered by the Red Sea to the west, along a stretch of 460 km. The project includes an area of one thousand kilometers from Egypt in the lands of South Sinai and the region is located northwest of the Kingdom, on an area of 26.5 thousand square kilometers, and it overlooks from the north and west the Red Sea and the Gulf of Aqaba with a length of 468 kilometers, and it is surrounded on the east by mountains at a height of 2500 meters. Project between three continents for 70 percent of the world's population to reach the site within a maximum of eight hours.
        <br>
         It is the first inhabited area to be developed in NEOM, with the first phase to be completed in 2020. The Neom Bay development strategy approved in January 2019 is based on four main pillars, namely providing an ideal living experience and quality of life for families, creating a sophisticated lifestyle and a tourism and entertainment system, while the third and fourth pillars are to support innovation centers and creativity centers in order to achieve economic goals. Luminium
         <br>
         Neom is the first capitalist city in the world
    </p> 
    </section>
    
        <section>
      <h2><a id= "naming">naming</a></h2>
   The word has been divided into two parts: the first includes the letters (NEO), which in Greek means “new”, and the second is a separate (M) letter, and in Arabic refers to the word “future”; In other words, NEOM completely means the new future. It is also referred to colloquially as "Noise", which is an abbreviation of the English term "North West Saudi Arabia", which refers to its location in the northwest of the Kingdom.

            </section>
        
        <section>
      <h2><a id= "Neom Bay">Neom Bay</a></h2>
It is the first inhabited area to be developed in NEOM, with the first phase to be completed in 2020. The Neom Bay development strategy approved in January 2019 is based on four main pillars, namely providing an ideal living experience and quality of life for families, creating a sophisticated lifestyle and a tourism and entertainment system, while the third and fourth pillars are to support innovation centers and creativity centers in order to achieve economic goals. Luminium

            </section>
        
    
   